@model ParkyWeb.Models.ParqueNacional
@{
    var titulo = "Crear Parque Nacional";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            titulo = "Editar Parque Nacional";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@titulo</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ComunidadAutonoma"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ComunidadAutonoma" class="form-control">
                    <span asp-validation-for="ComunidadAutonoma" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Imagen"></label>
                </div>
                <div class="col-8">
                    <input type="file" asp-for="Imagen" id="ProyectoImagen" name="ficheros" multiple class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Establecido"></label>
                </div>
                <div class="col-8">
                    @{
                        var fechaEst = "";
                        if (Model.Id != 0)
                        {
                            fechaEst = Model.Establecido.ToShortDateString();
                        }
                    }
                    <input id="datepicker" value="@fechaEst" type="text" asp-for="@Model.Establecido" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Id!=0?"Actualizar":"Crear")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Volver a listado</a>
                </div>
            </div>
        </div>
        <div class="col-4 text-right" style="width:250px;">
            @if (Model.Imagen != null)
            {
                var base64 = Convert.ToBase64String(Model.Imagen);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgsrc" width="100%" />
            }

        </div>
    </div>

</form>
@section scripts {
    <script>    
        $(function () {
            $('#datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2021"
            });
        })
    </script>
}
